## Importing Of Libraries

In [ ]:
import pandas as pd
import numpy as np
import re

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report

## Reading Data

In [ ]:
data = pd.read_excel("/content/drive/MyDrive/CKD/DATASET/UCH/Patients Records.xlsx")

## EDA

In [ ]:
data.head()

,#,Patient ID,Hospital,Age of Patient,Gender,Blood Pressure (mm/Hg),Weight (kg),Body temperature (0^c),Hemoglobin (mmol/L),Glucose (mmol/L),...,Level of education at first appointment,Age of patient at first appointment,Location of Patient at first appointment,Circumstances surrounding first appointment,Symptoms,Lifestyle of patient,Created At,Unnamed: 34,Unnamed: 35,Unnamed: 36
0,1,1111111376,UCH(University College Hospital Ibadan),2.0,1.0,119/69,20,32.0,150.0,25,...,3,3,Ogbomosho,The patient was rushed in,"2,42,43","2,9",2,NaN,2021-04-26T12:28:46.000000Z,2021-04-26T12:28:46.000000Z
1,2,1111111377,UCH(University College Hospital Ibadan),4.0,2.0,173/86,78,36.6,NaN,NaN,...,1,6,"Ikolaba, Ibadan",Patient was referred from another ARFH ORMC Ik...,"6,12",NaN,2,NaN,2021-04-26T12:29:43.000000Z,2021-04-26T12:29:43.000000Z
2,3,1111111378,UCH(University College Hospital Ibadan),6.0,1.0,133/70,58,36.7,8.5,NaN,...,1,8,NaN,Referred from consultant to consultant,"37,44,45",NaN,3,NaN,2021-04-26T12:30:19.000000Z,2021-04-26T12:30:19.000000Z
3,4,1111111379,UCH(University College Hospital Ibadan),6.0,1.0,133/70,58,36.7,8.5,NaN,...,1,8,Ibadan,Referred from consultant to consultant,37,NaN,3,NaN,2021-04-26T12:32:47.000000Z,2021-04-26T12:32:47.000000Z
4,5,1111111380,UCH(University College Hospital Ibadan),1.0,2.0,130/102,68,36.8,NaN,NaN,...,1,3,Ibadan,Referred from consultant to consultant,2,NaN,3,NaN,2021-04-26T12:55:22.000000Z,2021-04-26T12:55:22.000000Z

In [ ]:
data.columns

Index(['#', 'Patient ID', 'Hospital', 'Age of Patient', 'Gender',
       'Blood Pressure (mm/Hg)', 'Weight (kg)', 'Body temperature (0^c)',
       'Hemoglobin (mmol/L)', 'Glucose (mmol/L)', 'Urea (mmol/L)',
       'Creatinine (Umol/L)', 'Sodium (mmol/L)', 'Calcium (mmol/L)',
       'Potassium (mmol/L)', 'Protein Serum (g/dL)', 'Albumin Serum (g/dL)',
       'Phosphorus Serum (mmol/L)', 'Serum Ferritin (ng/L)',
       'Glomerular Filtration Rate (ml/min/1.73 m2)',
       'Intermediate laboratory report(s)',
       'Actual Diagnosed stage of the Acute and Chronic Kidney Disease',
       'Extra Information',
       'Treatment for this stage of the Acute and Chronic Kidney Disease',
       'Comorbidities', 'Date of first appointment',
       'Stage of ACKD at first appointment',
       'Level of education at first appointment',
       'Age of patient at first appointment',
       'Location of Patient at first appointment',
       'Circumstances surrounding first appointment', 'Symptoms',
       'Lifestyle of patient', 'Created At', 'Unnamed: 34', 'Unnamed: 35',
       'Unnamed: 36'],
      dtype='object')

In [ ]:
data.drop(["#", "Patient ID", 'Unnamed: 34', 'Unnamed: 35',
       'Unnamed: 36'], axis=1, inplace=True)

In [ ]:
data.isnull().sum().sort_values(ascending=False)

Serum Ferritin (ng/L)                                               253
Glomerular Filtration Rate (ml/min/1.73 m2)                         242
Hemoglobin (mmol/L)                                                 240
Albumin Serum (g/dL)                                                239
Protein Serum (g/dL)                                                235
Phosphorus Serum (mmol/L)                                           234
Calcium (mmol/L)                                                    231
Glucose (mmol/L)                                                    230
Lifestyle of patient                                                214
Extra Information                                                   199
Weight (kg)                                                         178
Stage of ACKD at first appointment                                  175
Actual Diagnosed stage of the Acute and Chronic Kidney Disease      162
Circumstances surrounding first appointment                         148
Body temperature (0^c)                                              110
Location of Patient at first appointment                             71
Symptoms                                                             49
Blood Pressure (mm/Hg)                                               29
Sodium (mmol/L)                                                      20
Potassium (mmol/L)                                                   18
Urea (mmol/L)                                                        14
Comorbidities                                                        13
Creatinine (Umol/L)                                                  12
Gender                                                               12
Intermediate laboratory report(s)                                    12
Date of first appointment                                             8
Treatment for this stage of the Acute and Chronic Kidney Disease      5
Hospital                                                              4
Age of Patient                                                        1
Level of education at first appointment                               0
Age of patient at first appointment                                   0
Created At                                                            0
dtype: int64

In [ ]:
data.shape

(257, 32)

In [ ]:
data.columns

Index(['Hospital', 'Age of Patient', 'Gender', 'Blood Pressure (mm/Hg)',
       'Weight (kg)', 'Body temperature (0^c)', 'Hemoglobin (mmol/L)',
       'Glucose (mmol/L)', 'Urea (mmol/L)', 'Creatinine (Umol/L)',
       'Sodium (mmol/L)', 'Calcium (mmol/L)', 'Potassium (mmol/L)',
       'Protein Serum (g/dL)', 'Albumin Serum (g/dL)',
       'Phosphorus Serum (mmol/L)', 'Serum Ferritin (ng/L)',
       'Glomerular Filtration Rate (ml/min/1.73 m2)',
       'Intermediate laboratory report(s)',
       'Actual Diagnosed stage of the Acute and Chronic Kidney Disease',
       'Extra Information',
       'Treatment for this stage of the Acute and Chronic Kidney Disease',
       'Comorbidities', 'Date of first appointment',
       'Stage of ACKD at first appointment',
       'Level of education at first appointment',
       'Age of patient at first appointment',
       'Location of Patient at first appointment',
       'Circumstances surrounding first appointment', 'Symptoms',
       'Lifestyle of patient', 'Created At'],
      dtype='object')

In [ ]:
data.columns

Index(['Hospital', 'Age of Patient', 'Gender', 'Blood Pressure (mm/Hg)',
       'Weight (kg)', 'Body temperature (0^c)', 'Hemoglobin (mmol/L)',
       'Glucose (mmol/L)', 'Urea (mmol/L)', 'Creatinine (Umol/L)',
       'Sodium (mmol/L)', 'Calcium (mmol/L)', 'Potassium (mmol/L)',
       'Protein Serum (g/dL)', 'Albumin Serum (g/dL)',
       'Phosphorus Serum (mmol/L)', 'Serum Ferritin (ng/L)',
       'Glomerular Filtration Rate (ml/min/1.73 m2)',
       'Intermediate laboratory report(s)',
       'Actual Diagnosed stage of the Acute and Chronic Kidney Disease',
       'Extra Information',
       'Treatment for this stage of the Acute and Chronic Kidney Disease',
       'Comorbidities', 'Date of first appointment',
       'Stage of ACKD at first appointment',
       'Level of education at first appointment',
       'Age of patient at first appointment',
       'Location of Patient at first appointment',
       'Circumstances surrounding first appointment', 'Symptoms',
       'Lifestyle of patient', 'Created At'],
      dtype='object')

In [ ]:
data['Actual Diagnosed stage of the Acute and Chronic Kidney Disease']

0      2.0
1      NaN
2      NaN
3      NaN
4      NaN
      ...
252    1.0
253    NaN
254    NaN
255    NaN
256    2.0
Name: Actual Diagnosed stage of the Acute and Chronic Kidney Disease, Length: 257, dtype: float64

In [ ]:
data["Actual Diagnosed stage of the Acute and Chronic Kidney Disease"].value_counts()

Actual Diagnosed stage of the Acute and Chronic Kidney Disease
1.0    53
2.0    32
3.0     5
5.0     3
4.0     2
Name: count, dtype: int64

## Helper Functions

### Gender Mapping

In [ ]:
def gender_map(df, column):
    gender_mapping = {1: "Male", 2: "Female"}
    df[column] = df[column].map(gender_mapping)
    return df

# Apply the gender mapping
gender_map(data, 'Gender')

,Hospital,Age of Patient,Gender,Blood Pressure (mm/Hg),Weight (kg),Body temperature (0^c),Hemoglobin (mmol/L),Glucose (mmol/L),Urea (mmol/L),Creatinine (Umol/L),...,Comorbidities,Date of first appointment,Stage of ACKD at first appointment,Level of education at first appointment,Age of patient at first appointment,Location of Patient at first appointment,Circumstances surrounding first appointment,Symptoms,Lifestyle of patient,Created At
0,UCH(University College Hospital Ibadan),2.0,Male,119/69,20,32.0,150.0,25,120,150,...,"4,5,75,76",2021-04-26 00:00:00,3.0,3,3,Ogbomosho,The patient was rushed in,"2,42,43","2,9",2
1,UCH(University College Hospital Ibadan),4.0,Female,173/86,78,36.6,NaN,NaN,32,1.8,...,"3,6",2021-03-09 00:00:00,1.0,1,6,"Ikolaba, Ibadan",Patient was referred from another ARFH ORMC Ik...,"6,12",NaN,2
2,UCH(University College Hospital Ibadan),6.0,Male,133/70,58,36.7,8.5,NaN,55,4.2,...,3,2021-02-09 00:00:00,NaN,1,8,NaN,Referred from consultant to consultant,"37,44,45",NaN,3
3,UCH(University College Hospital Ibadan),6.0,Male,133/70,58,36.7,8.5,NaN,55,4.2,...,3,2021-02-09 00:00:00,NaN,1,8,Ibadan,Referred from consultant to consultant,37,NaN,3
4,UCH(University College Hospital Ibadan),1.0,Female,130/102,68,36.8,NaN,NaN,2,65,...,NaN,2021-01-02 00:00:00,NaN,1,3,Ibadan,Referred from consultant to consultant,2,NaN,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252,UCH(University College Hospital Ibadan),0.0,Female,180/120,NaN,NaN,NaN,NaN,158,6.7,...,16,2019-07-30 00:00:00,1.0,4,2,"UCH,Inadan",Referred from consultant to consultant,"3,4,46,81",NaN,3
253,UCH(University College Hospital Ibadan),4.0,Male,145/89mmHg,80kg,36.3,NaN,NaN,56,7.2,...,"3,12,40,156",2020-03-19 00:00:00,NaN,1,6,Ibadan,NaN,"2,14,136",NaN,4
254,UCH(University College Hospital Ibadan),6.0,Male,130/90,NaN,36.5,15.0,NaN,124,5.7,...,"3,16",2019-10-23 00:00:00,NaN,1,8,"UCH,Inadan",Referred from consultant to consultant,1,NaN,3
255,UCH(University College Hospital Ibadan),2.0,Male,140/80,NaN,37.0,NaN,NaN,195,14.9,...,38,2019-04-15 00:00:00,NaN,5,4,"UCH,Inadan",Referred from consultant to consultant,2,NaN,3
256,UCH(University College Hospital Ibadan),4.0,NaN,144/90,65,36.5,NaN,NaN,59,2.8,...,38,2020-10-27 00:00:00,NaN,1,6,"UCH,Inadan",Referred from consultant to consultant,"4,7",1,3

### Colum Processor : Weight

In [ ]:
def column_text_processor(df, column):
    """
    Cleans and extracts numeric values from a text-based column, converting the result to float.

    This function performs the following steps:
        - Converts all values in the column to string type.
        - Removes all non-numeric characters except digits, slashes, and periods.
        - Extracts the first valid numeric pattern (e.g., "72.5" from "Weight: 72.5 kg").
        - Converts the extracted value to a numeric type (float), coercing invalid entries to NaN.

    Parameters:
        df (pd.DataFrame): The DataFrame containing the column to process.
        column (str): The name of the column to clean and convert.

    Returns:
        pd.DataFrame: A new DataFrame with the cleaned numeric column.
    """
    df[column] = (
        df[column]
        .astype(str)
        .str.replace(r'[^\d/.]', '', regex=True)
        .str.extract(r'(\d+\.?\d*)')[0]
    )
    df[column] = pd.to_numeric(df[column], errors='coerce')
    return df

# Example usage
data = column_text_processor(data, 'Weight (kg)')

### Clean BP

In [ ]:
def pre_clean_blood_pressure(df, column):
    """
    Pre-cleans a blood pressure column by extracting valid systolic/diastolic (e.g., '120/80')
    patterns from messy or inconsistent text entries.

    This function:
        - Attempts to match clean patterns (e.g., '120/80').
        - Falls back to extracting systolic/diastolic values from noisy text (e.g., 'BP: 120 over 80').
        - Returns None for invalid or unparseable entries.

    Parameters:
        df (pd.DataFrame): The DataFrame containing the blood pressure column.
        column (str): The name of the column to process.

    Returns:
        pd.DataFrame: The updated DataFrame with cleaned blood pressure values in 'SBP/DBP' format.
    """
    def extract_bp(value):
        value = str(value).strip()

        # Try matching clean format first (e.g., '120/80')
        match = re.match(r'^(\d{2,3})/(\d{2,3})$', value)
        if match:
            return f"{match.group(1)}/{match.group(2)}"

        # Try extracting from within messy text (e.g., 'BP: 120 over 80')
        match = re.search(r'(\d{2,3})\s*/\s*(\d{2,3})', value)
        if match:
            return f"{match.group(1)}/{match.group(2)}"

        return None  # Invalid or unrecognized format

    df[column] = df[column].apply(extract_bp)
    return df

In [ ]:
data = pre_clean_blood_pressure(data, 'Blood Pressure (mm/Hg)')

In [ ]:
data

,Hospital,Age of Patient,Gender,Blood Pressure (mm/Hg),Weight (kg),Body temperature (0^c),Hemoglobin (mmol/L),Glucose (mmol/L),Urea (mmol/L),Creatinine (Umol/L),...,Comorbidities,Date of first appointment,Stage of ACKD at first appointment,Level of education at first appointment,Age of patient at first appointment,Location of Patient at first appointment,Circumstances surrounding first appointment,Symptoms,Lifestyle of patient,Created At
0,UCH(University College Hospital Ibadan),2.0,Male,119/69,20.0,32.0,150.0,25,120,150,...,"4,5,75,76",2021-04-26 00:00:00,3.0,3,3,Ogbomosho,The patient was rushed in,"2,42,43","2,9",2
1,UCH(University College Hospital Ibadan),4.0,Female,173/86,78.0,36.6,NaN,NaN,32,1.8,...,"3,6",2021-03-09 00:00:00,1.0,1,6,"Ikolaba, Ibadan",Patient was referred from another ARFH ORMC Ik...,"6,12",NaN,2
2,UCH(University College Hospital Ibadan),6.0,Male,133/70,58.0,36.7,8.5,NaN,55,4.2,...,3,2021-02-09 00:00:00,NaN,1,8,NaN,Referred from consultant to consultant,"37,44,45",NaN,3
3,UCH(University College Hospital Ibadan),6.0,Male,133/70,58.0,36.7,8.5,NaN,55,4.2,...,3,2021-02-09 00:00:00,NaN,1,8,Ibadan,Referred from consultant to consultant,37,NaN,3
4,UCH(University College Hospital Ibadan),1.0,Female,130/102,68.0,36.8,NaN,NaN,2,65,...,NaN,2021-01-02 00:00:00,NaN,1,3,Ibadan,Referred from consultant to consultant,2,NaN,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252,UCH(University College Hospital Ibadan),0.0,Female,180/120,NaN,NaN,NaN,NaN,158,6.7,...,16,2019-07-30 00:00:00,1.0,4,2,"UCH,Inadan",Referred from consultant to consultant,"3,4,46,81",NaN,3
253,UCH(University College Hospital Ibadan),4.0,Male,145/89,80.0,36.3,NaN,NaN,56,7.2,...,"3,12,40,156",2020-03-19 00:00:00,NaN,1,6,Ibadan,NaN,"2,14,136",NaN,4
254,UCH(University College Hospital Ibadan),6.0,Male,130/90,NaN,36.5,15.0,NaN,124,5.7,...,"3,16",2019-10-23 00:00:00,NaN,1,8,"UCH,Inadan",Referred from consultant to consultant,1,NaN,3
255,UCH(University College Hospital Ibadan),2.0,Male,140/80,NaN,37.0,NaN,NaN,195,14.9,...,38,2019-04-15 00:00:00,NaN,5,4,"UCH,Inadan",Referred from consultant to consultant,2,NaN,3
256,UCH(University College Hospital Ibadan),4.0,NaN,144/90,65.0,36.5,NaN,NaN,59,2.8,...,38,2020-10-27 00:00:00,NaN,1,6,"UCH,Inadan",Referred from consultant to consultant,"4,7",1,3

In [ ]:
def clean_blood_pressure(df, column_name):
    """
    Cleans a blood pressure column in a DataFrame.

    - Removes trailing slashes
    - Handles missing or invalid values
    - Splits into Systolic (SBP) and Diastolic (DBP) columns
    - Converts to numeric format
    - Keeps the original column

    Args:
    - df (pd.DataFrame): The DataFrame containing the blood pressure column.
    - column_name (str): The column name of blood pressure readings.

    Returns:
    - pd.DataFrame: Updated DataFrame with 'SBP' and 'DBP' columns, keeping the original column.
    """
    # Ensure the column is a string type before processing
    df[column_name] = df[column_name].astype(str)

    # Remove trailing slashes
    df[column_name] = df[column_name].str.rstrip('/')

    # Replace standalone '/' or empty spaces with NaN
    df[column_name] = df[column_name].replace({'/': np.nan, '': np.nan})

    # Split into Systolic (SBP) and Diastolic (DBP) columns
    bp_df = df[column_name].str.split('/', expand=True)
    bp_df.columns = ['SBP', 'DBP']

    # Convert to numeric (invalid values become NaN)
    df['SBP'] = pd.to_numeric(bp_df['SBP'], errors='coerce')
    df['DBP'] = pd.to_numeric(bp_df['DBP'], errors='coerce')

    return df  # No dropping of the original column

data = clean_blood_pressure(data, 'Blood Pressure (mm/Hg)')

In [ ]:
data.columns

Index(['Hospital', 'Age of Patient', 'Gender', 'Blood Pressure (mm/Hg)',
       'Weight (kg)', 'Body temperature (0^c)', 'Hemoglobin (mmol/L)',
       'Glucose (mmol/L)', 'Urea (mmol/L)', 'Creatinine (Umol/L)',
       'Sodium (mmol/L)', 'Calcium (mmol/L)', 'Potassium (mmol/L)',
       'Protein Serum (g/dL)', 'Albumin Serum (g/dL)',
       'Phosphorus Serum (mmol/L)', 'Serum Ferritin (ng/L)',
       'Glomerular Filtration Rate (ml/min/1.73 m2)',
       'Intermediate laboratory report(s)',
       'Actual Diagnosed stage of the Acute and Chronic Kidney Disease',
       'Extra Information',
       'Treatment for this stage of the Acute and Chronic Kidney Disease',
       'Comorbidities', 'Date of first appointment',
       'Stage of ACKD at first appointment',
       'Level of education at first appointment',
       'Age of patient at first appointment',
       'Location of Patient at first appointment',
       'Circumstances surrounding first appointment', 'Symptoms',
       'Lifestyle of patient', 'Created At', 'SBP', 'DBP'],
      dtype='object')

In [ ]:
age_mapping = {
    1: (20, 29),
    2: (30, 39),
    3: (40, 49),
    4: (50, 59),
    5: (60, 69),
    6: (70, 100)
}

def map_age_to_mean(df, column):
    """
    Maps categorical age group labels in the specified DataFrame column to their
    corresponding mean age values based on a predefined age range mapping.

    This function uses a helper function to compute the mean of each age range.
    If a value is not found in the mapping, it returns None to handle unexpected
    entries gracefully.

    Parameters:
        df (pd.DataFrame): The DataFrame containing the age group column.
        column (str): The name of the column to be mapped.

    Returns:
        pd.Series: A Series containing the mean age values corresponding to each row.
    """
    def calculate_mean(value):
        if value in age_mapping:
            age_range = age_mapping[value]
            return sum(age_range) / 2
        return None  # Handle unexpected values gracefully


    df[column] = df[column].apply(calculate_mean)
    return df

data = map_age_to_mean(data, 'Age of Patient')
data['Age of Patient'].head()

0    34.5
1    54.5
2    85.0
3    85.0
4    24.5
Name: Age of Patient, dtype: float64

In [ ]:

columns_for_modeling_p = ['Gender', 'Age of Patient', 'Weight (kg)',
                        'Creatinine (Umol/L)', 'Sodium (mmol/L)', 'Potassium (mmol/L)',
                        'Glucose (mmol/L)', 'Urea (mmol/L)', 'Body temperature (0^c)',
                        'Actual Diagnosed stage of the Acute and Chronic Kidney Disease','SBP','DBP'
                        ]

data_ = data[columns_for_modeling_p]

In [ ]:
data_.dtypes

Gender                                                             object
Age of Patient                                                    float64
Weight (kg)                                                       float64
Creatinine (Umol/L)                                                object
Sodium (mmol/L)                                                    object
Potassium (mmol/L)                                                 object
Glucose (mmol/L)                                                   object
Urea (mmol/L)                                                      object
Body temperature (0^c)                                            float64
Actual Diagnosed stage of the Acute and Chronic Kidney Disease    float64
SBP                                                               float64
DBP                                                               float64
dtype: object

In [ ]:
data_.sample(5)

,Gender,Age of Patient,Weight (kg),Creatinine (Umol/L),Sodium (mmol/L),Potassium (mmol/L),Glucose (mmol/L),Urea (mmol/L),Body temperature (0^c),Actual Diagnosed stage of the Acute and Chronic Kidney Disease,SBP,DBP
117,Female,54.5,NaN,6.8mg/dl,130mmol/L,4.9mmol/L,NaN,149mg/dl,36.6,NaN,140.0,90.0
155,Male,54.5,NaN,14.5mg/dl,133mmol/L,5.5mmol/L,NaN,150mg/dl,NaN,NaN,160.0,90.0
214,Male,34.5,NaN,38.9,128,6.3,NaN,295,NaN,NaN,NaN,NaN
164,Male,85.0,NaN,2.4,132,4.9,NaN,110,NaN,2.0,140.0,80.0
60,Female,85.0,NaN,0.9,141,NaN,NaN,21,NaN,NaN,NaN,NaN

In [ ]:
data_.isnull().sum()

Gender                                                             12
Age of Patient                                                      6
Weight (kg)                                                       178
Creatinine (Umol/L)                                                12
Sodium (mmol/L)                                                    20
Potassium (mmol/L)                                                 18
Glucose (mmol/L)                                                  230
Urea (mmol/L)                                                      14
Body temperature (0^c)                                            110
Actual Diagnosed stage of the Acute and Chronic Kidney Disease    162
SBP                                                                30
DBP                                                                30
dtype: int64

In [ ]:
minerals_columns = ['Creatinine (Umol/L)', 'Sodium (mmol/L)', 'Potassium (mmol/L)',
                    'Glucose (mmol/L)', 'Urea (mmol/L)']

In [ ]:
def process_mineral_column(df, column):
    """
    Standardizes values in a mineral measurement column by converting all entries
    to mmol/L. It handles inputs in 'mg/dL', 'mmol/L', or plain numeric form,
    and gracefully returns None for invalid or unparseable entries.

    Parameters:
        df (pd.DataFrame): The DataFrame containing the mineral data.
        column (str): The name of the column to process.

    Returns:
        pd.DataFrame: The updated DataFrame with standardized values in mmol/L.
    """
    def convert_value(value):
        try:
            if isinstance(value, str):
                value = value.strip().lower()
                if 'mg/dl' in value:
                    numeric_value = float(value.replace('mg/dl', '').strip())
                    return numeric_value * 0.0555  # Convert mg/dL to mmol/L
                elif 'mmol/l' in value:
                    return float(value.replace('mmol/l', '').strip())
                else:
                    return float(value)
            elif isinstance(value, (int, float)):
                return float(value)
        except (ValueError, TypeError):
            return None  # Handle invalid entries gracefully
        return None

    df[column] = df[column].apply(convert_value)
    return df

# Apply the transformation to all relevant columns
for col in minerals_columns:
    data_ = process_mineral_column(data_, col)

/tmp/ipython-input-26-447948613.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].apply(convert_value)

In [ ]:
diagnosed_df = data_[data_['Actual Diagnosed stage of the Acute and Chronic Kidney Disease'].notna()]

In [ ]:
diagnosed_df['Actual Diagnosed stage of the Acute and Chronic Kidney Disease'].value_counts()
diagnosed_df.describe()

,Age of Patient,Weight (kg),Creatinine (Umol/L),Sodium (mmol/L),Potassium (mmol/L),Glucose (mmol/L),Urea (mmol/L),Body temperature (0^c),Actual Diagnosed stage of the Acute and Chronic Kidney Disease,SBP,DBP
count,92.000000,24.000000,92.000000,92.000000,90.000000,9.000000,90.000000,46.000000,95.000000,82.000000,82.000000
mean,54.472826,65.941667,21.035789,130.618478,18.130000,23.872111,103.472178,36.726087,1.631579,155.792683,90.621951
std,17.713744,18.278068,83.531884,20.162804,129.608134,29.657459,88.281586,0.987350,0.923138,28.472095,20.451472
min,24.500000,20.000000,0.044400,12.000000,2.600000,4.051500,2.997000,32.000000,1.000000,100.000000,50.000000
25%,44.500000,57.375000,1.875000,129.500000,3.700000,5.217000,29.500000,36.425000,1.000000,139.250000,80.000000
50%,54.500000,64.000000,4.150000,136.000000,4.100000,8.602500,82.500000,36.650000,1.000000,151.500000,90.000000
75%,64.500000,75.000000,13.500000,139.000000,5.200000,25.000000,156.000000,37.200000,2.000000,170.000000,100.000000
max,85.000000,110.000000,585.000000,147.000000,1234.000000,75.000000,395.000000,38.000000,5.000000,240.000000,180.000000

In [ ]:
# Select columns of interest
features = ['Creatinine (Umol/L)', 'Urea (mmol/L)', 'SBP', 'DBP', 'Glucose (mmol/L)']

# Group by stage and apply describe
stage_describe = diagnosed_df.groupby('Actual Diagnosed stage of the Acute and Chronic Kidney Disease')[features].describe().T
stage_describe

Actual Diagnosed stage of the Acute and Chronic Kidney Disease         1.0  \
Creatinine (Umol/L) count                                        51.000000
                    mean                                         28.560463
                    std                                         110.187504
                    min                                           0.044400
                    25%                                           0.821400
                    50%                                           3.380000
                    75%                                          10.600000
                    max                                         585.000000
Urea (mmol/L)       count                                        50.000000
                    mean                                         88.778730
                    std                                          93.093874
                    min                                           2.997000
                    25%                                          16.238750
                    50%                                          41.950000
                    75%                                         151.500000
                    max                                         395.000000
SBP                 count                                        44.000000
                    mean                                        156.136364
                    std                                          30.192091
                    min                                         100.000000
                    25%                                         139.000000
                    50%                                         151.500000
                    75%                                         181.000000
                    max                                         220.000000
DBP                 count                                        44.000000
                    mean                                         90.590909
                    std                                          20.732312
                    min                                          50.000000
                    25%                                          79.500000
                    50%                                          90.000000
                    75%                                         101.250000
                    max                                         140.000000
Glucose (mmol/L)    count                                         8.000000
                    mean                                         23.731125
                    std                                          31.701933
                    min                                           4.051500
                    25%                                           5.175375
                    50%                                           7.825500
                    75%                                          26.159250
                    max                                          75.000000

Actual Diagnosed stage of the Acute and Chronic Kidney Disease         2.0  \
Creatinine (Umol/L) count                                        32.000000
                    mean                                         13.537781
                    std                                          25.804945
                    min                                           0.099900
                    25%                                           2.700000
                    50%                                           8.150000
                    75%                                          13.500000
                    max                                         150.000000
Urea (mmol/L)       count                                        31.000000
                    mean                                        132.243855
                    std                                          83.060292
                    min                                           3.885000
                    25%                                          71.500000
                    50%                                         124.000000
                    75%                                         156.000000
                    max                                         342.000000
SBP                 count                                        31.000000
                    mean                                        154.548387
                    std                                          26.400554
                    min                                         110.000000
                    25%                                         140.000000
                    50%                                         155.000000
                    75%                                         170.000000
                    max                                         240.000000
DBP                 count                                        31.000000
                    mean                                         89.612903
                    std                                          21.499887
                    min                                          69.000000
                    25%                                          80.000000
                    50%                                          90.000000
                    75%                                          90.000000
                    max                                         180.000000
Glucose (mmol/L)    count                                         1.000000
                    mean                                         25.000000
                    std                                                NaN
                    min                                          25.000000
                    25%                                          25.000000
                    50%                                          25.000000
                    75%                                          25.000000
                    max                                          25.000000

Actual Diagnosed stage of the Acute and Chronic Kidney Disease         3.0  \
Creatinine (Umol/L) count                                         5.000000
                    mean                                          2.360000
                    std                                           0.658027
                    min                                           1.800000
                    25%                                           1.800000
                    50%                                           2.300000
                    75%                                           2.500000
                    max                                           3.400000
Urea (mmol/L)       count                                         5.000000
                    mean                                         62.000000
                    std                                          48.502577
                    min                                          24.000000
                    25%                                          31.000000
                    50%                                          52.000000
                    75%                                          58.000000
                    max                                         145.000000
SBP                 count                                         4.000000
                    mean                                        143.750000
                    std                                          18.874586
                    min                                         130.000000
                    25%                                         130.000000
                    50%                                         137.500000
                    75%                                         151.250000
                    max                                         170.000000
DBP                 count                                         4.000000
                    mean                                         91.500000
                    std                                           8.698659
                    min                                          80.000000
                    25%                                          87.500000
                    50%                                          93.000000
                    75%                                          97.000000
                    max                                         100.000000
Glucose (mmol/L)    count                                         0.000000
                    mean                                               NaN
                    std                                                NaN
                    min                                                NaN
                    25%                                                NaN
                    50%                                                NaN
                    75%                                                NaN
                    max                                                NaN

Actual Diagnosed stage of the Acute and Chronic Kidney Disease   4.0  \
Creatinine (Umol/L) count                                        2.0
                    mean                                         3.0
                    std                                          0.0
                    min                                          3.0
                    25%                                          3.0
                    50%                                          3.0
                    75%                                          3.0
                    max                                          3.0
Urea (mmol/L)       count                                        2.0
                    mean                                        76.0
                    std                                          0.0
                    min                                         76.0
                    25%                                         76.0
                    50%                                         76.0
                    75%                                         76.0
                    max                                         76.0
SBP                 count                                        0.0
                    mean                                         NaN
                    std                                          NaN
                    min                                          NaN
                    25%                                          NaN
                    50%                                          NaN
                    75%                                          NaN
                    max                                          NaN
DBP                 count                                        0.0
                    mean                                         NaN
                    std                                          NaN
                    min                                          NaN
                    25%                                          NaN
                    50%                                          NaN
                    75%                                          NaN
                    max                                          NaN
Glucose (mmol/L)    count                                        0.0
                    mean                                         NaN
                    std                                          NaN
                    min                                          NaN
                    25%                                          NaN
                    50%                                          NaN
                    75%                                          NaN
                    max                                          NaN

Actual Diagnosed stage of the Acute and Chronic Kidney Disease         5.0
Creatinine (Umol/L) count                                         2.000000
                    mean                                         13.850000
                    std                                           8.131728
                    min                                           8.100000
                    25%                                          10.975000
                    50%                                          13.850000
                    75%                                          16.725000
                    max                                          19.600000
Urea (mmol/L)       count                                         2.000000
                    mean                                        156.000000
                    std                                          22.627417
                    min                                         140.000000
                    25%                                         148.000000
                    50%                                         156.000000
                    75%                                         164.000000
                    max                                         172.000000
SBP                 count                                         3.000000
                    mean                                        179.666667
                    std                                          32.746501
                    min                                         143.000000
                    25%                                         166.500000
                    50%                                         190.000000
                    75%                                         198.000000
                    max                                         206.000000
DBP                 count                                         3.000000
                    mean                                        100.333333
                    std                                          22.188586
                    min                                          80.000000
                    25%                                          88.500000
                    50%                                          97.000000
                    75%                                         110.500000
                    max                                         124.000000
Glucose (mmol/L)    count                                         0.000000
                    mean                                               NaN
                    std                                                NaN
                    min                                                NaN
                    25%                                                NaN
                    50%                                                NaN
                    75%                                                NaN
                    max                                                NaN

In [ ]:
features = ['Creatinine (Umol/L)', 'Urea (mmol/L)', 'SBP', 'DBP', 'Glucose (mmol/L)']
summary = diagnosed_df.groupby('Actual Diagnosed stage of the Acute and Chronic Kidney Disease')[features].median()
summary

,Creatinine (Umol/L),Urea (mmol/L),SBP,DBP,Glucose (mmol/L)
Actual Diagnosed stage of the Acute and Chronic Kidney Disease,,,,,
1.0,3.38,41.95,151.5,90.0,7.8255
2.0,8.15,124.00,155.0,90.0,25.0000
3.0,2.30,52.00,137.5,93.0,NaN
4.0,3.00,76.00,NaN,NaN,NaN
5.0,13.85,156.00,190.0,97.0,NaN

In [ ]:
def estimate_ckd_stage(row):
    """
    Estimates the stage of Chronic Kidney Disease (CKD) based on heuristic thresholds
    of Creatinine and Urea levels, and optionally Systolic/Diastolic Blood Pressure (SBP/DBP).

    The stages are determined using clinical-like logic with simplified thresholds:
        - Stage 5: Creatinine ≥ 13.85 µmol/L and Urea ≥ 140 mmol/L
        - Stage 4: Urea between 70–100 mmol/L and Creatinine between 2.5–3.5 µmol/L
        - Stage 3: Urea between 40–100 mmol/L and Creatinine between 1.8–3.4 µmol/L
        - Stage 2: Creatinine between 2.0–13.5 µmol/L and Urea between 70–150 mmol/L
        - Stage 1: Creatinine < 2.0 µmol/L and Urea < 30 mmol/L

    Parameters:
        row (pd.Series): A row from a DataFrame containing required clinical lab values.

    Returns:
        float or None: CKD stage (1.0–5.0) if matched; otherwise None.
    """
    cr = row['Creatinine (Umol/L)']
    urea = row['Urea (mmol/L)']
    sbp = row.get('SBP', None)
    dbp = row.get('DBP', None)

    if cr >= 13.85 and urea >= 140:
        return 5.0
    elif 70 <= urea <= 100 and 2.5 <= cr <= 3.5:
        return 4.0
    elif 40 <= urea <= 100 and 1.8 <= cr <= 3.4:
        return 3.0
    elif 2.0 <= cr <= 13.5 and 70 <= urea <= 150:
        return 2.0
    elif cr < 2.0 and urea < 30:
        return 1.0

    return None  # Unclassified or borderline case

# Apply the function to the DataFrame
data_['Stage Estimate Heuristic'] = data_.apply(estimate_ckd_stage, axis=1)

/tmp/ipython-input-31-1072988971.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_['Stage Estimate Heuristic'] = data_.apply(estimate_ckd_stage, axis=1)

In [ ]:
data_.sample(10)

,Gender,Age of Patient,Weight (kg),Creatinine (Umol/L),Sodium (mmol/L),Potassium (mmol/L),Glucose (mmol/L),Urea (mmol/L),Body temperature (0^c),Actual Diagnosed stage of the Acute and Chronic Kidney Disease,SBP,DBP,Stage Estimate Heuristic
215,Male,34.5,NaN,36.80000,121.0,6.2,NaN,347.000,36.8,NaN,160.0,90.0,5.0
172,Female,85.0,139.0,0.13875,140.0,4.1,5.500,6.105,36.9,NaN,150.0,90.0,1.0
70,Male,44.5,NaN,12.90000,128.0,3.0,NaN,141.000,36.7,NaN,210.0,100.0,2.0
229,Male,64.5,NaN,5.60000,130.0,4.9,NaN,128.000,NaN,NaN,120.0,70.0,2.0
145,Female,54.5,NaN,0.16650,131.0,4.9,9.879,4.107,37.7,1.0,120.0,90.0,1.0
219,Female,64.5,NaN,2.60000,NaN,3.0,NaN,37.000,NaN,NaN,190.0,90.0,NaN
77,Male,44.5,NaN,1.47075,135.0,6.6,NaN,33.300,NaN,NaN,140.0,80.0,NaN
208,NaN,44.5,NaN,21.50000,115.0,4.0,NaN,296.000,36.8,NaN,152.0,110.0,5.0
248,Female,54.5,59.0,0.07770,136.0,4.0,NaN,50.000,36.3,NaN,176.0,81.0,NaN
200,Female,85.0,NaN,1.70000,130.0,NaN,NaN,40.000,NaN,1.0,158.0,110.0,NaN

In [ ]:
data_['Stage Estimate Heuristic'].value_counts()

Stage Estimate Heuristic
1.0    80
2.0    38
5.0    22
3.0    20
4.0     8
Name: count, dtype: int64

In [ ]:
features = [
    'Creatinine (Umol/L)', 'Urea (mmol/L)', 'SBP', 'DBP',
    'Glucose (mmol/L)', 'Sodium (mmol/L)', 'Potassium (mmol/L)',
    'Weight (kg)', 'Age of Patient', 'Body temperature (0^c)'
]

target = 'Actual Diagnosed stage of the Acute and Chronic Kidney Disease'

X = diagnosed_df[features]
y = diagnosed_df[target].astype(int)

X_train, X_val, y_train, y_val = train_test_split(X, y, stratify=y, test_size=0.2, random_state=42)

In [ ]:
imputer = SimpleImputer(strategy='median')
X_train_imputed = imputer.fit_transform(X_train)
X_val_imputed = imputer.transform(X_val)

In [ ]:
model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(X_train_imputed, y_train)

RandomForestClassifier(random_state=42)

In [ ]:
y_pred = model.predict(X_val_imputed)
print(classification_report(y_val, y_pred))

              precision    recall  f1-score   support

           1       0.69      0.82      0.75        11
           2       0.50      0.50      0.50         6
           3       0.00      0.00      0.00         1
           5       0.00      0.00      0.00         1

    accuracy                           0.63        19
   macro avg       0.30      0.33      0.31        19
weighted avg       0.56      0.63      0.59        19

/usr/local/lib/python3.11/dist-packages/sklearn/metrics/_classification.py:1565: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
/usr/local/lib/python3.11/dist-packages/sklearn/metrics/_classification.py:1565: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
/usr/local/lib/python3.11/dist-packages/sklearn/metrics/_classification.py:1565: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))

In [ ]:
unlabeled_df = data_[data_[target].isna()]
X_unlabeled = imputer.transform(unlabeled_df[features])

In [ ]:
predicted_stages = model.predict(X_unlabeled)
data_.loc[unlabeled_df.index, 'Stage Estimate Model'] = predicted_stages

/tmp/ipython-input-41-2833665091.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_.loc[unlabeled_df.index, 'Stage Estimate Model'] = predicted_stages

In [ ]:
data_

,Gender,Age of Patient,Weight (kg),Creatinine (Umol/L),Sodium (mmol/L),Potassium (mmol/L),Glucose (mmol/L),Urea (mmol/L),Body temperature (0^c),Actual Diagnosed stage of the Acute and Chronic Kidney Disease,SBP,DBP,Stage Estimate Heuristic,Stage Estimate Model
0,Male,34.5,20.0,150.0,12.0,1234.0,25.0,120.0,32.0,2.0,119.0,69.0,NaN,NaN
1,Female,54.5,78.0,1.8,130.0,2.3,NaN,32.0,36.6,NaN,173.0,86.0,NaN,1.0
2,Male,85.0,58.0,4.2,128.0,3.7,NaN,55.0,36.7,NaN,133.0,70.0,NaN,1.0
3,Male,85.0,58.0,4.2,NaN,3.7,NaN,55.0,36.7,NaN,133.0,70.0,NaN,1.0
4,Female,24.5,68.0,65.0,134.0,3.5,NaN,2.0,36.8,NaN,130.0,102.0,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252,Female,NaN,NaN,6.7,137.0,3.0,NaN,158.0,NaN,1.0,180.0,120.0,NaN,NaN
253,Male,54.5,80.0,7.2,140.0,4.9,NaN,56.0,36.3,NaN,145.0,89.0,NaN,2.0
254,Male,85.0,NaN,5.7,147.0,4.7,NaN,124.0,36.5,NaN,130.0,90.0,2.0,2.0
255,Male,34.5,NaN,14.9,115.0,5.5,NaN,195.0,37.0,NaN,140.0,80.0,5.0,1.0
256,NaN,54.5,65.0,2.8,140.0,4.8,NaN,59.0,36.5,2.0,144.0,90.0,3.0,NaN

In [ ]:
data_[['Actual Diagnosed stage of the Acute and Chronic Kidney Disease', 'Stage Estimate Heuristic', 'Stage Estimate Model']]

,Actual Diagnosed stage of the Acute and Chronic Kidney Disease,Stage Estimate Heuristic,Stage Estimate Model
0,2.0,NaN,NaN
1,NaN,NaN,1.0
2,NaN,NaN,1.0
3,NaN,NaN,1.0
4,NaN,NaN,1.0
...,...,...,...
252,1.0,NaN,NaN
253,NaN,NaN,2.0
254,NaN,2.0,2.0
255,NaN,5.0,1.0
256,2.0,3.0,NaN

In [ ]:
data_.shape

(257, 14)

In [ ]:
data_['Heuristic_Model_Disagree'] = (
    (data_['Stage Estimate Heuristic'].notna()) &
    (data_['Stage Estimate Model'].notna()) &
    (data_['Stage Estimate Heuristic'] != data_['Stage Estimate Model'])
)

/tmp/ipython-input-45-2239610595.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_['Heuristic_Model_Disagree'] = (

In [ ]:
def unify_stage(row):
    """
    Consolidates multiple CKD stage sources into a single unified stage value for each patient.

    The priority of sources is as follows:
        1. Clinically diagnosed stage ('Actual Diagnosed stage of the Acute and Chronic Kidney Disease')
        2. Heuristic estimate ('Stage Estimate Heuristic')
        3. Model-based estimate ('Stage Estimate Model')

    If none of these sources provide a valid stage, returns NaN.

    Parameters:
        row (pd.Series): A row from the DataFrame containing the different stage values.

    Returns:
        float or np.nan: The most reliable available CKD stage.
    """
    diagnosed_stage = row['Actual Diagnosed stage of the Acute and Chronic Kidney Disease']
    heuristic_stage = row['Stage Estimate Heuristic']
    model_stage = row['Stage Estimate Model']

    if not pd.isna(diagnosed_stage):
        return diagnosed_stage
    elif not pd.isna(heuristic_stage):
        return heuristic_stage
    elif not pd.isna(model_stage):
        return model_stage
    else:
        return np.nan

# Apply the function to the dataset
data_['Unified Stage'] = data_.apply(unify_stage, axis=1)

/tmp/ipython-input-46-3266590279.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_['Unified Stage'] = data_.apply(unify_stage, axis=1)

In [ ]:
data_['Unified_Actual_Disagree'] = (
    (data_['Actual Diagnosed stage of the Acute and Chronic Kidney Disease'].notna()) &
    (data_['Unified Stage'].notna()) &
    (data_['Actual Diagnosed stage of the Acute and Chronic Kidney Disease'] != data_['Unified Stage'])
)

/tmp/ipython-input-47-680966698.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_['Unified_Actual_Disagree'] = (

In [ ]:
print("Heuristic vs Model disagreements:", data_['Heuristic_Model_Disagree'].sum())
print("Unified vs Actual disagreements:", data_['Unified_Actual_Disagree'].sum())

Heuristic vs Model disagreements: 42
Unified vs Actual disagreements: 0

In [ ]:
data_['Heuristic_Actual_Disagree'] = (
    (data_['Stage Estimate Heuristic'].notna()) &
    (data_['Actual Diagnosed stage of the Acute and Chronic Kidney Disease'].notna()) &
    (data_['Stage Estimate Heuristic'] != data_['Actual Diagnosed stage of the Acute and Chronic Kidney Disease'])
)

data_['Model_Actual_Disagree'] = (
    (data_['Stage Estimate Model'].notna()) &
    (data_['Actual Diagnosed stage of the Acute and Chronic Kidney Disease'].notna()) &
    (data_['Stage Estimate Model'] != data_['Actual Diagnosed stage of the Acute and Chronic Kidney Disease'])
)

/tmp/ipython-input-49-1433393134.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_['Heuristic_Actual_Disagree'] = (
/tmp/ipython-input-49-1433393134.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_['Model_Actual_Disagree'] = (

In [ ]:
print("Heuristic vs Actual disagreements:", data_['Heuristic_Actual_Disagree'].sum())
print("Model vs Actual disagreements:", data_['Model_Actual_Disagree'].sum())

Heuristic vs Actual disagreements: 32
Model vs Actual disagreements: 0

In [ ]:
data_.isnull().sum()

Gender                                                             12
Age of Patient                                                      6
Weight (kg)                                                       178
Creatinine (Umol/L)                                                13
Sodium (mmol/L)                                                    20
Potassium (mmol/L)                                                 20
Glucose (mmol/L)                                                  232
Urea (mmol/L)                                                      14
Body temperature (0^c)                                            110
Actual Diagnosed stage of the Acute and Chronic Kidney Disease    162
SBP                                                                30
DBP                                                                30
Stage Estimate Heuristic                                           89
Stage Estimate Model                                               95
Heuristic_Model_Disagree                                            0
Unified Stage                                                       0
Unified_Actual_Disagree                                             0
Heuristic_Actual_Disagree                                           0
Model_Actual_Disagree                                               0
dtype: int64

In [ ]:
data_['Unified Stage'].value_counts()

Unified Stage
1.0    137
2.0     77
5.0     21
4.0     17
3.0      5
Name: count, dtype: int64

In [ ]:
def stage_based_impute(data_, features, target_col='Unified Stage'):
    """
    Performs imputation of missing values in the specified features based on CKD stage groups.

    For each feature:
        - If the feature is categorical (object type or few unique values), missing values are
          imputed using the mode within each CKD stage. If still missing, the global mode is used.
        - If the feature is numerical, missing values are imputed using the median within each CKD stage.
          If still missing, the global median is used.
        - A flag column (`<feature>_imputed`) is created to indicate which values were imputed.

    Parameters:
        data_ (pd.DataFrame): The input DataFrame containing clinical data.
        features (list of str): List of feature names to impute.
        target_col (str): The column name representing CKD stages (default: 'Unified Stage').

    Returns:
        pd.DataFrame: A new DataFrame with imputed values and corresponding flags.
    """
    df_filled = data_.copy()

    for feature in features:
        flag_col = f"{feature}_imputed"
        df_filled[flag_col] = df_filled[feature].isnull()

        is_categorical = df_filled[feature].dtype == 'object' or df_filled[feature].nunique(dropna=True) < 10

        if is_categorical:
            # Impute using mode per stage
            stage_modes = df_filled.groupby(target_col)[feature].agg(
                lambda x: x.mode().iloc[0] if not x.mode().empty else None
            )
            for stage, mode_val in stage_modes.items():
                mask = (df_filled[target_col] == stage) & (df_filled[feature].isnull())
                df_filled.loc[mask, feature] = mode_val

            # Fallback: Global mode
            if df_filled[feature].isnull().any():
                global_mode = df_filled[feature].mode().iloc[0]
                df_filled[feature].fillna(global_mode, inplace=True)

        else:
            # Impute using median per stage
            stage_medians = df_filled.groupby(target_col)[feature].median()
            for stage, median_val in stage_medians.items():
                mask = (df_filled[target_col] == stage) & (df_filled[feature].isnull())
                df_filled.loc[mask, feature] = median_val

            # Fallback: Global median
            if df_filled[feature].isnull().any():
                global_median = df_filled[feature].median()
                df_filled[feature].fillna(global_median, inplace=True)

    return df_filled

In [ ]:
missing_features = [
    'Gender', 'Age of Patient', 'Weight (kg)',
    'Creatinine (Umol/L)', 'Sodium (mmol/L)', 'Potassium (mmol/L)',
    'Glucose (mmol/L)', 'Urea (mmol/L)', 'Body temperature (0^c)',
    'SBP', 'DBP'
]

data_cleaned = stage_based_impute(data_, features=missing_features, target_col='Unified Stage')

<ipython-input-169-b2426dc43916>:33: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_filled[feature].fillna(global_median, inplace=True)

In [ ]:
data_cleaned.isnull().sum()

Gender                                                              0
Age of Patient                                                      0
Weight (kg)                                                         0
Creatinine (Umol/L)                                                 0
Sodium (mmol/L)                                                     0
Potassium (mmol/L)                                                  0
Glucose (mmol/L)                                                    0
Urea (mmol/L)                                                       0
Body temperature (0^c)                                              0
Actual Diagnosed stage of the Acute and Chronic Kidney Disease    162
SBP                                                                 0
DBP                                                                 0
Stage Estimate Heuristic                                           16
Stage Estimate Model                                               95
Heuristic_Model_Disagree                                            0
Unified Stage                                                       0
Unified_Actual_Disagree                                             0
Heuristic_Actual_Disagree                                           0
Model_Actual_Disagree                                               0
Gender_imputed                                                      0
Age of Patient_imputed                                              0
Weight (kg)_imputed                                                 0
Creatinine (Umol/L)_imputed                                         0
Sodium (mmol/L)_imputed                                             0
Potassium (mmol/L)_imputed                                          0
Glucose (mmol/L)_imputed                                            0
Urea (mmol/L)_imputed                                               0
Body temperature (0^c)_imputed                                      0
SBP_imputed                                                         0
DBP_imputed                                                         0
dtype: int64

## Saving Data

In [ ]:
data_.to_csv("/content/drive/MyDrive/CKD/DATASET/unified_correction_data_experiment.csv")

In [ ]:
data_cleaned.to_csv("/content/drive/MyDrive/CKD/DATASET/cleaned_patient_records_UCH.csv")

## Merging Data

In [ ]:
data_lth = pd.read_csv("/content/drive/MyDrive/CKD/Data/CKD_Clean_Data.csv")
data_uch = pd.read_csv("/content/drive/MyDrive/CKD/DATASET/cleaned_patient_records_UCH.csv")

In [ ]:
data_lth.columns

Index(['Created At', 'Hospital', 'Age of Patient (year)', 'Gender',
       'Blood Pressure (mm/Hg)', 'Weight (kg)', 'Body temperature (0^c)',
       'Glucose (mmol/L)', 'Urea (mmol/L)', 'Creatinine (Umol/L)',
       'Sodium (mmol/L)', 'Potassium (mmol/L)',
       'Glomerular Filtration Rate (ml/min/1.73 m2)',
       'Intermediate laboratory report(s)',
       'Actual Diagnosed stage of the Acute and Chronic Kidney Disease',
       'Treatment for this stage of the Acute and Chronic Kidney Disease',
       'Comorbidities', 'Date of first appointment',
       'Stage of ACKD at first appointment',
       'Level of education at first appointment',
       'Age of patient at first appointment',
       'Location of Patient at first appointment', 'Lifestyle of patient',
       'Circumstances surrounding first appointment', 'SBP', 'DBP', 'Target'],
      dtype='object')

In [ ]:
# renmaing the age column
data_lth.rename(columns={'Age of Patient (year)': 'Age of Patient'}, inplace=True)

In [ ]:
# replace 1 in target to 5
data_lth['Target'] = data_lth['Target'].replace(1, 5)
data_lth.Target.value_counts()

Target
5    298
0    211
Name: count, dtype: int64

In [ ]:
data_lth.columns

Index(['Created At', 'Hospital', 'Age of Patient', 'Gender',
       'Blood Pressure (mm/Hg)', 'Weight (kg)', 'Body temperature (0^c)',
       'Glucose (mmol/L)', 'Urea (mmol/L)', 'Creatinine (Umol/L)',
       'Sodium (mmol/L)', 'Potassium (mmol/L)',
       'Glomerular Filtration Rate (ml/min/1.73 m2)',
       'Intermediate laboratory report(s)',
       'Actual Diagnosed stage of the Acute and Chronic Kidney Disease',
       'Treatment for this stage of the Acute and Chronic Kidney Disease',
       'Comorbidities', 'Date of first appointment',
       'Stage of ACKD at first appointment',
       'Level of education at first appointment',
       'Age of patient at first appointment',
       'Location of Patient at first appointment', 'Lifestyle of patient',
       'Circumstances surrounding first appointment', 'SBP', 'DBP', 'Target'],
      dtype='object')

In [ ]:
data_uch.columns

Index(['Unnamed: 0', 'Gender', 'Age of Patient', 'Weight (kg)',
       'Creatinine (Umol/L)', 'Sodium (mmol/L)', 'Potassium (mmol/L)',
       'Glucose (mmol/L)', 'Urea (mmol/L)', 'Body temperature (0^c)',
       'Actual Diagnosed stage of the Acute and Chronic Kidney Disease', 'SBP',
       'DBP', 'Stage Estimate Heuristic', 'Stage Estimate Model',
       'Heuristic_Model_Disagree', 'Unified Stage', 'Unified_Actual_Disagree',
       'Heuristic_Actual_Disagree', 'Model_Actual_Disagree', 'Gender_imputed',
       'Age of Patient_imputed', 'Weight (kg)_imputed',
       'Creatinine (Umol/L)_imputed', 'Sodium (mmol/L)_imputed',
       'Potassium (mmol/L)_imputed', 'Glucose (mmol/L)_imputed',
       'Urea (mmol/L)_imputed', 'Body temperature (0^c)_imputed',
       'SBP_imputed', 'DBP_imputed'],
      dtype='object')

In [ ]:
# convert to int datatype
data_uch['Unified Stage'] = data_uch['Unified Stage'].astype(int)
data_uch['Unified Stage'].value_counts()
data_uch.rename(columns = {'Unified Stage' : 'Target'}, inplace=True)

In [ ]:
data_uch.columns

Index(['Unnamed: 0', 'Gender', 'Age of Patient', 'Weight (kg)',
       'Creatinine (Umol/L)', 'Sodium (mmol/L)', 'Potassium (mmol/L)',
       'Glucose (mmol/L)', 'Urea (mmol/L)', 'Body temperature (0^c)',
       'Actual Diagnosed stage of the Acute and Chronic Kidney Disease', 'SBP',
       'DBP', 'Stage Estimate Heuristic', 'Stage Estimate Model',
       'Heuristic_Model_Disagree', 'Target', 'Unified_Actual_Disagree',
       'Heuristic_Actual_Disagree', 'Model_Actual_Disagree', 'Gender_imputed',
       'Age of Patient_imputed', 'Weight (kg)_imputed',
       'Creatinine (Umol/L)_imputed', 'Sodium (mmol/L)_imputed',
       'Potassium (mmol/L)_imputed', 'Glucose (mmol/L)_imputed',
       'Urea (mmol/L)_imputed', 'Body temperature (0^c)_imputed',
       'SBP_imputed', 'DBP_imputed'],
      dtype='object')

In [ ]:
columns_in_common = ["Gender",'Creatinine (Umol/L)', 'Sodium (mmol/L)', 'Potassium (mmol/L)',
                    'Glucose (mmol/L)', 'Urea (mmol/L)', 'Body temperature (0^c)' , 'SBP',
                    'DBP', 'Weight (kg)', 'Age of Patient', 'Target']

In [ ]:
data_uch[columns_in_common].dtypes

Gender                     object
Creatinine (Umol/L)       float64
Sodium (mmol/L)           float64
Potassium (mmol/L)        float64
Glucose (mmol/L)          float64
Urea (mmol/L)             float64
Body temperature (0^c)    float64
SBP                       float64
DBP                       float64
Weight (kg)               float64
Age of Patient            float64
Target                      int64
dtype: object

In [ ]:
data_lth[columns_in_common].dtypes

Gender                     object
Creatinine (Umol/L)       float64
Sodium (mmol/L)           float64
Potassium (mmol/L)        float64
Glucose (mmol/L)          float64
Urea (mmol/L)             float64
Body temperature (0^c)    float64
SBP                       float64
DBP                       float64
Weight (kg)               float64
Age of Patient            float64
Target                      int64
dtype: object

In [ ]:
# Filter both datasets to only the common columns
data_lth_filtered = data_lth[columns_in_common].copy()
data_uch_filtered = data_uch[columns_in_common].copy()

# Stack vertically (row-wise)
data_combined = pd.concat([data_lth_filtered, data_uch_filtered], ignore_index=True)

In [ ]:
data_combined.shape

(766, 12)

In [ ]:
data_combined.Target.value_counts()

Target
5    319
0    211
1    137
2     77
4     17
3      5
Name: count, dtype: int64

In [ ]:
def custom_oversample(df, target_col='Target', samples_per_class=100, random_state=42):
    """
    Balances a dataset by ensuring an equal number of samples for each class in the target column.

    For each class:
        - If there are more than `samples_per_class`, it performs undersampling.
        - If there are fewer, it performs custom oversampling by randomly recombining feature values.
        - If the class is already balanced, it is retained as is.

    Parameters:
        df (pd.DataFrame): Input DataFrame to balance.
        target_col (str): The name of the target column containing class labels.
        samples_per_class (int): Desired number of samples per class.
        random_state (int): Random seed for reproducibility.

    Returns:
        pd.DataFrame: A balanced DataFrame with equal number of samples per class.
    """
    np.random.seed(random_state)
    balanced = []

    for cls in df[target_col].unique():
        class_df = df[df[target_col] == cls].copy()
        n = len(class_df)

        if n > samples_per_class:
            # Undersample to target size
            sampled_df = class_df.sample(n=samples_per_class, random_state=random_state)

        elif n < samples_per_class:
            # Oversample by generating synthetic rows through random recombination
            features = class_df.drop(columns=[target_col])
            synthetic = []

            while len(synthetic) < (samples_per_class - n):
                new_row = {col: np.random.choice(features[col].values) for col in features.columns}
                synthetic.append(new_row)

            synthetic_df = pd.DataFrame(synthetic)
            synthetic_df[target_col] = cls
            sampled_df = pd.concat([class_df, synthetic_df], ignore_index=True)

        else:
            # Already balanced
            sampled_df = class_df

        balanced.append(sampled_df)

    # Shuffle the final DataFrame
    return pd.concat(balanced, ignore_index=True).sample(frac=1, random_state=random_state).reset_index(drop=True)

In [ ]:
balanced_df = custom_oversample(data_combined, target_col='Target', samples_per_class=100)

In [ ]:
balanced_df.describe()

,Creatinine (Umol/L),Sodium (mmol/L),Potassium (mmol/L),Glucose (mmol/L),Urea (mmol/L),Body temperature (0^c),SBP,DBP,Weight (kg),Age of Patient,Target
count,600.000000,600.000000,600.000000,600.000000,600.000000,600.00000,600.000000,600.000000,600.000000,600.000000,600.00000
mean,218.343830,129.734167,6.320650,21.522784,60.255402,36.73000,147.056667,87.995000,70.765667,52.135833,2.50000
std,481.063101,23.618663,50.214122,33.002485,58.710976,1.09744,28.752036,16.793103,14.816001,17.130462,1.70925
min,0.044400,12.000000,1.100000,1.000000,1.054500,32.00000,88.000000,10.000000,20.000000,10.000000,0.00000
25%,2.300000,130.000000,3.500000,6.271500,17.950000,36.40000,129.500000,80.000000,61.000000,40.000000,1.00000
50%,7.100000,135.000000,4.100000,6.271500,40.100000,36.60000,140.000000,89.000000,67.000000,54.500000,2.50000
75%,133.250000,139.000000,4.900000,8.893375,82.000000,36.80000,164.500000,96.000000,84.000000,64.500000,4.00000
max,2607.000000,165.000000,1234.000000,163.000000,395.000000,59.40000,250.000000,180.000000,110.000000,85.000000,5.00000

In [ ]:
data_combined.describe()

,Creatinine (Umol/L),Sodium (mmol/L),Potassium (mmol/L),Glucose (mmol/L),Urea (mmol/L),Body temperature (0^c),SBP,DBP,Weight (kg),Age of Patient,Target
count,766.000000,766.000000,766.000000,766.000000,766.000000,766.000000,766.000000,766.000000,766.000000,766.000000,766.000000
mean,415.012716,132.622977,5.925300,17.252740,39.797837,36.865535,149.488903,88.592689,66.838512,50.554178,2.570496
std,592.048473,11.827214,44.444094,29.070038,54.777455,1.759453,31.595465,19.674373,14.415901,18.427211,2.191992
min,0.044400,12.000000,1.100000,1.000000,1.054500,32.000000,77.000000,10.000000,4.000000,9.000000,0.000000
25%,6.700000,128.000000,3.500000,5.400000,8.850000,36.400000,128.500000,76.000000,60.000000,36.000000,0.000000
50%,150.500000,135.000000,4.100000,6.271500,20.800000,36.600000,145.000000,88.000000,65.000000,52.000000,2.000000
75%,548.000000,138.225000,5.000000,10.200000,44.000000,37.000000,168.000000,100.000000,73.000000,64.500000,5.000000
max,3300.000000,177.000000,1234.000000,173.000000,395.000000,59.400000,292.000000,180.000000,139.000000,85.000000,5.000000

In [ ]:
balanced_df.to_csv("/content/drive/MyDrive/CKD/DATASET/balanced_classes_dataset.csv")

In [ ]:
balanced_df.Target.value_counts()

Target
0    100
3    100
4    100
5    100
2    100
1    100
Name: count, dtype: int64